.header__menu__text{
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    color: #676770;
    padding: 19px 20px;
    gap: 40px;
}