*{
    margin: 0;
    padding:0;
}

.header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 60px;
}

.header__menu{
    width: 940px;
    display: flex;
    justify-content: space-between;
}

.header__menu__text{
    display: flex;
}

.header__logo{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 11px 0 0 0;
    color: #69B9FF;
}

.header__menu__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    color: #676770;
    padding: 19px 20px;
}

.header__menu__text__home{
    margin: 0 40px 0 0;
    padding: 0;
    text-decoration: none;
    color: #676770;
}

.header__menu__text__home:hover{
    color: #0082F3;
}

.header__menu__text__contact{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #676770;
}

.header_menu_text_contact:hover{
    color: #0082F3;
}


