.promo__buttons__learn{
    width: 183px;
    height: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}